@import 'base/all';

html, body, *{
  font-family: var(--font);
}

body{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--white-light);
  background: var(--dark-light);
  height: 100vh;
  position: relative;
  padding-top: 80px;
}